<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload FSAE Data</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <div class="page-title">
      <div class="page-title-heading" onclick="goTo('/')">FSAE Analyzer</div>
      {%include "_menu.html"%}
    </div>
    <div
      class="drop-zone"
      id="drop-zone"
      onclick="document.getElementById('file-upload').click()"
    >
      <label for="file-upload" class="file-label"
        >Drop PDFs or Click to Upload</label
      >
      <input
        type="file"
        name="files"
        id="file-upload"
        accept=".pdf"
        multiple
        style="display: none"
      />
      <div class="file-list" id="file-list">No files chosen</div>
    </div>
  </body>
</html>
